export GOPATH=/Users/whancock/Code/facts
export GOBIN=/Users/whancock/Code/facts/bin

if [ ! -d src ]; then
       	mkdir src
fi

if [ ! -d pkg ]; then
        mkdir pkg
fi

if [ ! -d bin ]; then
        mkdir bin
fi
